@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6f3f8d;
  --secondary-color: #f03c20;
  --accent-color: #3ab0ff;
  --warning-color: #fbbe06;
  --background-color: #ffffff;
}
.bg-primary {
  color: #12122c;
  background-color: #ff9b00;
  border-radius: 4px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: #333;
}
.btn-primary {
  @apply bg-primary;
}
.slideIn {
  animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.selection__item {
  height: max-content;
}

.radio-card {
  background-color: #fff;
  display: flex;
  position: relative;
  width: 100%;
}
.selection-card__checkmark,
.selection-card__input,
.selection-card__label:before {
  border-radius: 50%;
  height: 24px;
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  width: 24px;
}
.selection-card__input {
  opacity: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.selection-card__input:checked + .selection-card__checkmark,
.selection-card__input:focus + .selection-card__checkmark {
  opacity: 1;
}

.selection-card__checkmark,
.selection-card__input,
.selection-card__label:before {
  border-radius: 50%;
  height: 24px;
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  width: 24px;
}
.selection-card__checkmark {
  transition: all 0.5s ease;
  transition-property: opacity;
}

.selection-card__input:checked ~ .selection-card__label,
.selection-card__input:focus ~ .selection-card__label {
  background-color: #fff6e9;
  border: 1.5px solid #ffca7d;
}
