@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6f3f8d;
  --error: #f03c20;
  --accent-color: #3ab0ff;
  --warning-color: #fbbe06;
  --background-color: #ffffff;
  --border: #e0e0e0;
  --accent-orange: #ff9b00;
  --text-color: #121212;
  --accent-link: #576ae6;
  --accent-hover: #cc7c00;
  --accent-gray: #828282;
}
.bg-primary {
  color: var(--text-color);
  background-color: var(--accent-orange);
  border-radius: 4px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: #333;
}
.btn-primary {
  @apply bg-primary;
}
.slideIn {
  animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
