@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6f3f8d;
  --secondary-color: #f03c20;
  --accent-color: #3ab0ff;
  --warning-color: #fbbe06;
  --background-color: #ffffff;
}
.bg-primary {
  color: #12122c;
  background-color: #ff9b00;
  border-radius: 4px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: #333;
}
.btn-primary {
  @apply bg-primary;
}
.slideIn {
  animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.input-field:focus::before {
  content: "✓";
  position: absolute;
  top: -20px;
  left: 0;
  color: #ff9b00;
}
